html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

/* 初始化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
    font-size: 16px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image {
    /* background-image: url('./img/wallhaven-yjog2l_1920x1080.png'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -60px; */
}
/* 加入渐变模糊颜色背景 */
.image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url('./img/background.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.innerContent {
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin: 20px;
    color: rgb(49, 160, 160);
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

#expButton {
    background-color: rgb(49, 160, 160);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 50px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

#expButton a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    z-index: 600;
}

/* header后加一行分割线 */
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

nav {
    display: grid;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 200;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: end;
}

nav a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px;
    margin: 0 20px;
}

nav a:hover {
    color: rgb(49, 160, 160);
}

.logoText {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(49, 160, 160);
}

#links {
    justify-self: end;
    padding: 10px;
}

.charts {
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chart {
    padding: 20px;
    margin-top: 20px;
}

.chartText {
    /* margin: 60 80px; */
    margin-top: 120px;
}

.chartTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(49, 160, 160);
    text-align: center;
}

.chartIntro {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(150, 150, 150);
    margin: 20px;
    text-align: center;
}

#area1 {
    background-color: rgba(240, 255, 255, 0.8);
}

#area2 {
    background-color: aliceblue;
}

#area3 {
    background-color: floralwhite;
}

#about {
    width: 100%;
    min-height: 60vh;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(250,250,250);
}

.aboutText {
    margin: 20px 80px;
    font-size: 1.2rem;
    color: rgb(116, 116, 116);
    font-weight: 400;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgba(240,240,240, 0.9);
    margin: 0;
    padding: 0;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footerText {
    font-size: 1rem;
    font-weight: 200;
    color: black;
    margin: 0 10px; 
}

footer a {
    text-decoration: none;
    color: rgb(49, 160, 160);
}

#map {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    padding-top: 20px;
}

#tab {
    width: 80vw;
    margin-top: 20px;
}

.download {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 60 80px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.btn {
    background-color: rgb(49,160,160);
    color: white;
    font-weight: 400;
    border-radius: 10px;
    width:60%;
    align-self: center;
    margin: 0 60px;
}